<div class="wrapper">
  <form class="form-signin">
    <h3 class="form-signin-heading">Create an Account</h3>
    <hr class="colorgraph mt-5" />

    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Enter Fullname"
      required
      autofocus=""
    />
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Pick a Username"
      required
      autofocus=""
    />
    <input
      type="email"
      class="form-control"
      name="email"
      placeholder="Email"
      required
      autofocus=""
    />

    <input
      type="password"
      class="form-control"
      name="Password"
      placeholder="Password"
      required=""
    />

    <button
      class="btn btn-lg btn-primary btn-block mt-3"
      name="Submit"
      value="Login"
      type="Submit"
    >
      SignUp
    </button>
  </form>
</div>
