<nav class="navbar navbar-expand-lg navbar-dark bg-info" id="custom-text">
  <a class="navbar-brand mx-5" routerLink="">ValueCoders</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-left">
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/dashboard" class="nav-link" *ngIf="curUser"
          >Dashboard</a
        >
      </li>
      <li
        class="nav-item dropdown"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Contact Us</a>
          <a class="dropdown-item">About</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">T & C</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto navbar-right">
      <li class="nav-item ml-3">
        <span class="nav-link">{{ curUser?.name }}</span>
      </li>

      <li class="nav-item ml-3">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="!curUser"
          routerLink="/login"
          class="nav-link btn btn-warning btn-xs text-dark px-4 shadow"
          >Login</a
        >
      </li>
      <li
        class="nav-item ml-3"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          *ngIf="curUser === null"
          routerLink="/signup"
          class="nav-link btn btn-warning btn-xs text-dark px-4 shadow"
          >SignUp</a
        >
      </li>

      <li class="nav-item ml-3">
        <a
          [routerLinkActive]="['active']"
          class="nav-link btn btn-danger btn-xs px-4 text-white shadow"
          (click)="logOut()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
